<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="Everywhere"/>
    <!--<sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>-->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation targetFramework="4.5" debug="true">
      <assemblies>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <httpRuntime maxRequestLength="51200" executionTimeout="9000" requestValidationMode="2.0"/>
    <customErrors mode="Off"/>
    <!--<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" validateRequest="false"/>-->
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="en-GB" uiCulture="en-GB"/>
    <pages clientIDMode="AutoID" validateRequest="false">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>
      </controls>
    </pages>
    <machineKey validationKey="32EC4C2A6904891751D759F6212F25C4DC5304D28CE2BEDFE2AADDE4D3482B7029CC57C145BF04132D137A2ABBF9EC27C9B72031ED624ED0F014CE822C30F160" decryptionKey="B1F002B813A68A8665B20D7A8E97556B718E11005FE3396271C307B3D1282825" validation="SHA1" decryption="AES"/>
    <trust level="Full"/>
    <!--<system.web.extensions>
      <scripting>
        <webServices>
          <jsonSerialization maxJsonLength="999999999"/>
        </webServices>
      </scripting>
    </system.web.extensions>-->
  </system.web>
  <appSettings>
    <!--<add key="DBConnString" value="RGF0YSBTb3VyY2U9QlRTUy1TRVJWRVI7SW5pdGlhbCBDYXRhbG9nPUFWS0FSO1VzZXIgSUQ9QVZLQVI7IFBhc3N3b3JkPWJ0c3M7"/>-->
    <!--<add key="DBConnString" value="Data Source=BTSS-04 ;Initial Catalog=Navchetan;Integrated Security = true;" />-->
    <!--<add key="DBConnString" value="Data Source=Chintan-Laptop;Initial Catalog=Navchetan03012017;User ID=sa;Password=sa@123;" />-->
    <!--<add key="DBConnString" value="Data Source=GSSPL-02;Initial Catalog=GEIMS;User ID=sa;Password=sa@123;" />-->
    <!--<add key="dbconnstring" value="data source=51.38.65.163;initial catalog=geims;user id=sa;password=sa@123;" />-->
    <!--<add key="DBConnString" value="Data Source=GSSPL-02;Initial Catalog=GEIMS;Integrated Security=True" />-->
    <!--<add key="DBConnString" value="Data Source=GSSPL-06;Initial Catalog=GEIMS;User ID=sa;Password=sa@123;" />-->
    <!--<add key="DBConnString" value="RGF0YSBTb3VyY2U9R1NTUEwtMDQ7SW5pdGlhbCBDYXRhbG9nPUdFSU1TO1VzZXIgSUQ9c2E7UGFzc3dvcmQ9c2FAMTIz" />-->
   <!--Commmented on 17 Aug 2022 Bhandavi-->
	  <!--<add key="DBConnString" value="Data Source=FNSSERVER;Initial Catalog=GEIMS;User ID=sa;Password=sa@123;"/>-->
	    <!--<add key="DBConnString" value="Data Source=DESKTOP-QDKBFF6;Initial Catalog=GEIMS_2809;User ID=sa;Password=sa@123;"/>-->
	  <!--Encrypted connection string for local database GEIMS_2809-->
	    <add key="DBConnString" value="RGF0YSBTb3VyY2U9REVTS1RPUC1RREtCRkY2O0luaXRpYWwgQ2F0YWxvZz1HRUlNU18yODA5O1VzZXIgSUQ9c2E7UGFzc3dvcmQ9c2FAMTIzOw=="/>
	  <!--Encrypted connection string for local database FINSERVER_GEIMS-->
	    <!--<add key="DBConnString" value="RGF0YSBTb3VyY2U9REVTS1RPUC1RREtCRkY2O0luaXRpYWwgQ2F0YWxvZz1GSU5TRVJWRVJfR0VJTVM7VXNlciBJRD1zYTtQYXNzd29yZD1zYUAxMjM7"/>-->
	 
    <add key="ContextCommandTimeout" value="0"/>
    <!--<add key="DBConnString" value="Data Source=DESKTOP-P60PPJT;Initial Catalog=Navchetan04012016;User ID=sa;Password=sa@123;" />-->
    <!--<add key="DBConnString" value="Data Source=184.168.47.15 ;Initial Catalog=skmnadiad;User ID=skmnadiad;Password=skm@123;" />-->
    <!--<add key="DBConnString" value="Data Source=BTSS-SERVER ;Initial Catalog=TestSKM;User ID=SKM;Password=btss" />-->
    <add key="MaxFileSize" value="31457280"/>
    <!-- Application Image Folder -->
    <add key="ImageFolder" value="/_Images"/>
    <!-- Decides where the error log file resides -->
    <add key="LogPath" value="/Log/"/>
    <!-- Decides where the error log file resides -->
    <add key="EventLogPath" value="/Log/EventLog/"/>
    <!-- Whether to overwrite existing log file or not -->
    <add key="OverWriteFileLogFile" value="false"/>
    <!-- Whether to write Inner trace of Exception or not -->
    <add key="WriteInnerTrace" value="true"/>
    <!-- Which type of log file to generate can have value XMLLog,EventLog,TextLog -->
    <add key="LogType" value="XMLLog"/>
    <!-- Decides whether to display role based or static menu -->
    <add key="RoleBasedMenu" value="true"/>
    <!-- PitStop server Hot folder's virtual path -->
    <add key="PitStopHotFolderPath" value="/PitStop/"/>
    <!-- Time in milliseconds to wait for preflight to complete -->
    <add key="TimeToWaitForPreflight" value="60000"/>
    <!-- whether preflighting is enabled or not; value can be: 'true' or 'false' -->
    <add key="PreflightEnabled" value="false"/>
    <!-- Currency sign to be applied -->
    <add key="CurrentCurrencyCulture" value="nl-NL"/>
  </appSettings>
  <system.webServer>
    <staticContent>
      <!--<mimeMap fileExtension=".woff" mimeType="application/font-woff"/>-->
      <!--<mimeMap fileExtension=".otf" mimeType="application/octet-stream"/>-->
      <!--<mimeMap fileExtension=".svg" mimeType="image/svg+xml"/>-->
    </staticContent>
    <validation validateIntegratedModeConfiguration="false"/>
    <!--<modules>
      <add type="QueryStringModule" name="QueryStringModule"/>
    </modules>-->
  </system.webServer>
  <log4net>
    <appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
      <bufferSize value="1"/>
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      <connection timeout="0"/>
      <add key="ContextCommandTimeout" value="0"/>
      <!--<connectionString value="Data Source=BTSS-SERVER ;Initial Catalog=Navchetan20150622;User ID=sa;Password=sa@123" />-->
      <!--<add key="DBConnString" value="Data Source=BTSS-SERVER ;Initial Catalog=NavchetanTest;User ID=sa;Password=sa@123;" />-->
      <!--<connectionString value="Data Source=GSSPL-02;Initial Catalog=GEIMS;User ID=sa;Password=sa@123;connect time=0;" />-->
	<!--Commmented on 17 Aug 2022 Bhandavi-->
      <!--<connectionString value="Data Source=FNSSERVER;Initial Catalog=GEIMS;Integrated Security=True"/>-->
		 <connectionString value="  Data Source=DESKTOP-QDKBFF6;Initial Catalog=GEIMS_Live;User ID=sa;Password=sa@123"/>
	 
      <!--<connectionString value="Data Source=BTSS-SERVER ;Initial Catalog=NavchetanTest;User ID=sa;Password=sa@123" />-->
      <!--<commandText value="INSERT INTO Log ([Date],[Thread],[Level],[Logger],[Message],[Exception],[UserID]) VALUES (@log_date, @thread, @log_level, @logger, @message, @exception,@UserID)" />-->
      <commandText value="INSERT INTO Log ([Date],[Thread],[Level],[Logger],[Message],[Exception]) VALUES (@log_date, @thread, @log_level, @logger, @message, @exception)"/>
      <parameter>
        <parameterName value="@log_date"/>
        <dbType value="DateTime"/>
        <layout type="log4net.Layout.RawTimeStampLayout"/>
      </parameter>
      <parameter>
        <parameterName value="@thread"/>
        <dbType value="String"/>
        <size value="255"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%thread"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@log_level"/>
        <dbType value="String"/>
        <size value="50"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%level"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@logger"/>
        <dbType value="String"/>
        <size value="255"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%logger"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@message"/>
        <dbType value="String"/>
        <size value="4000"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%message"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@exception"/>
        <dbType value="String"/>
        <size value="2000"/>
        <layout type="log4net.Layout.ExceptionLayout"/>
      </parameter>
      <!--<parameter>
        <parameterName value="@UserID"/>
        <dbType value="Int32" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{UserID}" />
          -->
      <!--<key value="UserID" />-->
      <!--
          <key value="%property{UserID}" />
          -->
      <!--<conversionPattern value="%property{entityId}" />-->
      <!--

        </layout>
      </parameter>-->
    </appender>
    <root>
      <level value="All"/>
      <appender-ref ref="AdoNetAppender"/>
    </root>
  </log4net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="AjaxMin" publicKeyToken="21ef50ce11b5d80f" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.14.5506.26196" newVersion="5.14.5506.26196"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
<!--ProjectGuid: 77D57E6D-9E34-4384-8F79-CB511D081EEC-->